:root {
    --box-size: 30px;
}

.row {
    display: flex;
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 1px solid black;
}

.visited-box {
    background-color: cornflowerblue;
}

.queued-box {
    background-color: darkgrey;
}

.path-box {
    background-color: lightgreen;
}

/*.box:hover {*/
/*    transform: scale(1.2);*/
/*    background-color: gray;*/
/*    transition: transform 0.3s;*/
/*}*/

.end {
    background-color: red;
}

.wall {
    background-color: black;
}

.btn {
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-family: Consolas, serif;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.current-node-display {
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
}

.controls-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.info-container {
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
}